@{
    ViewData["Title"] = "Index";

    var factoryName = ViewBag.FactoryName as string;

    var totalAmount = ViewBag.TotalAmount as string;
}

<div class="d-flex flex-row justify-content-between mb-3">
    <div class="d-flex flex-column">
        <h4>@factoryName's Payments</h4>
    </div>
    <div>
        <h4>
            <span class="lead">Total Amount: </span>
            <span class="badge rounded-pill bg-success"> @totalAmount</span>
        </h4>
    </div>
</div>

<div id="showAlert"></div>
@await Html.PartialAsync("_Alerts")
<div class="row justify-content-center">
      

   <div class="col col-lg-12 col-md-12">
      
        <table class="table table-striped" id="factoryCollectionDatatable">

        </table>

   </div>

<div class="modal fade" id="deleteFactoryCollectionModal" tabindex="-1" aria-labelledby="deleteFactoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="hidden" class="form-control" id="deleteFCInput">
          <h4>Are you sure you want to delete the record?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="deleteFactoryCollection">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>

@section Scripts{
    <script src="~/js/factoryCollections.js" asp-append-version="true"></script>
}