@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-center">
   <div class="col col-lg-12 col-md-12">
      <p>WELCOME!!</p>
      <div id="showAlert"></div>
      <table class="table"></table>
   </div>

</div>

@section scripts{
    <script type="text/javascript" src="~/js/table.js"></script>
}