@using Entities.Models;
@model AccountsModel

@{
    ViewData["Title"] = "Create Account";
}

<h2 class="text-center pt-3">Create Account</h2>

<div class="row justify-content-center pt-5">
    <div class="col col-lg-6 col-sm-12 align-items-between">
        @await Html.PartialAsync("_Alerts")
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="AccountType" class="form-label"></label>
            <div class="form-floating mb-2">
                <select class="form-select py-0" asp-for="AccountType" asp-items="Html.GetEnumSelectList<AccountType>()"></select> 
            </div>
            <label asp-for="Activities" class="form-label"></label>
            <div class="form-floating mb-2">
                <select class="form-select py-0" asp-for="Activities" asp-items="Html.GetEnumSelectList<Activities>()"></select> 
            </div>
            <label asp-for="StartAmount" class="form-label"></label>
            <div class="form-floating mb-2">
                <input asp-for="StartAmount" class="form-control py-0" aria-required="true" />
                <span asp-validation-for="StartAmount" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
            </div>
        </form>


    </div>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
