@{
    ViewData["Title"] = "Index";

    var workerName = ViewBag.Name as string;

}

<h4 class="mt-5">@workerName's work history</h4>
<div id="showAlert"></div>
@await Html.PartialAsync("_Alerts")
<div class="row justify-content-center">
      

   <div class="col col-lg-12 col-md-12">
      
        <table class="table table-striped" id="trackedWorkersDatatable">

        </table>

   </div>

<div class="modal fade" id="deleteTrackedWorkersModal" tabindex="-1" aria-labelledby="deleteTrackedWorkersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="hidden" class="form-control" id="deleteTWInput">
          <h4>Are you sure you want to delete the record?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="deleteTrackedWorker">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>

@section Scripts{
    <script src="~/js/workerTracker.js" asp-append-version="true"></script>
}