@using Entities.Models;
@model FactoryModel

@{
    ViewData["Title"] = "Create Factory";
}

<h2 class="text-center pt-3">Create Factory</h2>

<div class="row justify-content-center pt-5">
    <div class="col col-lg-6 col-sm-12 align-items-between">
        @await Html.PartialAsync("_Alerts")
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="FactoryName" class="form-label"></label>
            <div class="form-floating mb-2">
                <input asp-for="FactoryName" class="form-control py-0" aria-required="true" />
                <span asp-validation-for="FactoryName" class="text-danger"></span>
            </div>
            <label asp-for="PhoneNumber" class="form-label"></label>
            <div class="form-floating mb-2">
                <input asp-for="PhoneNumber" class="form-control py-0" aria-required="true" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <label asp-for="Location" class="form-label"></label>
            <div class="form-floating mb-2">
                <input asp-for="Location" class="form-control py-0" aria-required="true" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
            </div>
        </form>


    </div>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
