@{
    ViewData["Title"] = "Index";
}
<h4 class="mt-5">Factories</h4>
<div id="showAlert"></div>

<div class="row justify-content-center">
      

   <div class="col col-lg-12 col-md-12">
      
        <table class="table table-striped" id="factoryDatatable">

        </table>

   </div>
</div>

@section Scripts{
    <script src="~/js/factory.js" asp-append-version="true"></script>
}